@import "mixin/bem";
@import "mixin/helper";
@import "common/var";


@include b(connect) {
  @include popup;

  @include e(inner) {
    // TODO: lidis-form
    padding: 40px;
    width: 400px;
    height: 300px;
    background-color: $--background-color-popup;
    border: $--border-base;
    border-radius: $--border-radius-base;

    @include pop-center;

    .lidis-form-row + .lidis-form-row {
      margin-top: 10px;
    }
  }
}
