@import "mixin/bem";
@import "mixin/helper";
@import "common/var";

@include b(connect) {
  @include popup;

  @include e(inner) {
    @include pop-center;
    padding: 40px 20px;
    width: 400px;
    background-color: $--background-color-popup;
    border: $--border-base;
    border-radius: $--border-radius-base;
  }
}

// TODO: lidis-form
@include b(form) {
  @include e(item) {
    display: flex;
    & + .lidis-form__item {
      margin-top: 10px;
    }
    & + .lidis-form__submit {
      margin-top: 20px;
    }
  }
  @include e(submit) {
    justify-content: flex-end;
  }
}
