@include b(editor) {
  padding: $--padding-base;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  @include e(inner) {
    box-sizing: border-box;
    padding: $--padding-base;
    flex: 1;
    z-index: 99;
    font-size: 13px;
    border: $--input-border;
    border-radius: $--input-border-radius;
    background-color: $--background-color-base;
    line-height: 1.6;
    resize: none;
    background: inherit;

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }
  &::before {
    @include popup;
    content: '';
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('https://satania.moe/img/portraits/sadist.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
  }
}

@include b(editor-line) {
  max-height: 100%;
  width: 45px;
  text-align: right;
  font-size: 13px;
  position: relative;
  @include e(scroll) {
    overflow: hidden;
    padding: $--padding-base;
    @include absolute-fill;
    /*
      Increase/Decrease this value for cross-browser compatibility,
      @fimars: `right: 0`在哪个浏览器下工作不正常吗?
    */
    & > p {
      margin: 0;
      margin-right: 5px;
      line-height: 1.6;
      color: $--editor-lines-color;
    }
  }
}
