@import "mixin/bem";
@import "mixin/helper";
@import "common/var";


@include b(editor) {
  position: relative;
  height: 100%;
  @include e(inner) {
    position: absolute;
    padding: $--padding-base;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: $--input-border;
    border-radius: $--input-border-radius;
    background-color: $--background-color-base;
    line-height: 1.6;
    resize: none;
    background: inherit;

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
      outline: none;
      border-color: $--input-focus-border;
    }
  }
  &::before {
    @include popup;
    content: '';
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-image: url('https://satania.moe/img/portraits/sadist.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
  }
}
