@include b(input) {
  position: relative;
  display: inline-block;
  width: $--input-width;

  @include e(inner) {
    display: inline-block;
    padding: $--input-padding;
    box-sizing: border-box;
    width: $--input-width;
    height: $--input-height;
    border: $--input-border;
    border-radius: $--input-border-radius;
    font-size: $--input-font-size;
    color: $--input-color;

    &:hover {
      border-color: $--input-hover-border;
    }

    &:focus {
        outline: none;
        border-color: $--input-focus-border;
    }
  }

  @include e(icon) {
    position: absolute;
    left: 2px;
    width: $--input-icon-width;
    line-height: $--input-height;
    color: $--color-primary;
    text-align: center;
    font-size: .8em;
    cursor: pointer;

    + .lidis-input__inner {
      padding-left: $--input-icon-width;
    }
  }
}
