// TODO:
// 1. 间隔变量提取到var.scss
// 2. 各模块区域样式细调
// 3. 最小支持pad端的响应式
.container {
  &-fluid > [class^="container"] {
    height: 100vh;
    padding: none;
    margin: none;
  }

  &-sidebar {
    box-sizing: border-box;
    padding: 20px;
    float: left;
    width: 20vw;
    background-color: #fafafa;
  }

  &-body {
    box-sizing: border-box;
    padding: 20px;
    margin-left: 20vw;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
  }
}
