@import "mixin/bem";
@import "common/var";

// TODO:
// 1. 间隔变量提取到var.scss [ing]
// 2. 各模块区域样式细调 [ing]
// 3. 最小支持pad端的响应式 [wait]

$side-width: 30vw;

@include b(layout) {
  background-color: $--background-color-base;
  > * {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  @include e(sidebar) {
    box-sizing: border-box;
    float: left;
    width: $side-width;
  }
  @include e(panel) {
    position: relative;
    box-sizing: border-box;
    padding: $--padding-base;
    margin-left: $side-width;
    background-color: $--background-color-high;
    border-left: $--border-gutter;
  }
  @include e(searchbar) {
    padding: $--padding-base;
    background-color: $--background-color-high;
  }
  @include e(keylist) {
    border-top: $--border-gutter;
  }
  @include e(controller) {
    padding: 10px 20px;
    border-bottom: $--border-gutter;
  }
}

