@import "mixin/bem";
@import "common/var";

// TODO:
// 1. 间隔变量提取到var.scss [ing]
// 2. 各模块区域样式细调 [ing]
// 3. 最小支持pad端的响应式 [wait]

$side-width: 30vw;

@include b(layout) {
  > * {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  @include e(sidebar) {
    box-sizing: border-box;
    float: left;
    width: $side-width;
    background-color: $--background-color-base;
  }
  @include e(panel) {
    position: relative;
    box-sizing: border-box;
    padding: $--padding-base;
    margin-left: $side-width;
    background-color: $--background-color-base;
    border-left: $--border-gutter;
    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      z-index: 0;
      display: block;
      width: calc(100%);
      height: calc(100vh);
      opacity: .2;
      background-image: url('https://satania.moe/img/portraits/sadist.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: right bottom;
    }
  }
  @include e(searchbar) {
    background-color: $--background-color-high;
    padding: $--padding-base;
  }
  @include e(keylist) {
    border-top: $--border-gutter;
  }
  @include e(controller) {
    padding: 10px 20px;
    border-bottom: $--border-gutter;
  }
  @include e(mocklist) {
    position: relative;
    display: block;
    margin: 4px 10px;
    min-height: 20px;
    padding: $--padding-base;
    border: 1px dashed $--border-color-base;
    &:after {
      content: 'TYPE';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 10px;
      height: 22px;
      line-height: 22px;
      font-size: 12px;
      color: #fff;
      background-color: $--color-primary;
    }
  }
}

