// Components
@import
  "./layout",
  "./flex",
  "./icon",
  "./button",
  "./input",
  "./editor",
  "./connect",
  "./list";

@import "./common/var";


html, body, #app-main {
  margin: 0; padding: 0;
  height: 100%;
  font-size: $--font-base-size;
  color: $--color-text;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0;
  padding: 0;
}

.content {
  margin-top: 50px;
}
