<!-- TODO: 此文件当做keys的业务文件, 提取一个list组件出来, 提供一个slot-scope和一个列头的配置prop -->
<div class="lidis-list">
  <div class="lidis-list__header lidis-flex lidis-flex--between">
    <div class="lidis-flex" style="width: 200px;">
      <div class="lidis-list__type">Type</div>
      <div class="lidis-flex__item">Name</div>
    </div>
    <div>
      <i class="lidis-button fa fa-plus"></i>
    </div>
  </div>
  <div v-for="(value, idx) in keys" :key="idx" class="lidis-list__item">
    <div class="lidis-flex">
      <slot :value="value" :idx="idx"></slot>
    </div>
  </div>
</div>
