<div>
  <layout>
    <search slot="search-bar"></search>
    <keys slot="keys-manage" :keys="keys">
      <template slot-scope="props">
        <div class="lidis-list__key" :class="'is-' + props.item.type">{{ props.item.type }}</div>
        <div class="lidis-flex__item">{{ props.item.key }}</div>
      </template>
    </keys>
    <div slot="panel" class="lidis-flex">
      <div class="lidis-border__right">
        <keys>
          <template slot-scope="props">
            <div class="lidis-list__key">{{ props.idx }}</div>
            <div class="lidis-flex__item">Value</div>
          </template>
        </keys>
      </div>
      <editor class="lidis-flex__item"></editor>
    </div>
  </layout>
  <connect v-if="showConnect"></connect>
</div>
