@import '../common/var.scss';

%fill {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

@mixin popup {
  z-index: $--index-popup;
  @extend %fill;
}

@mixin absolute-fill {
  @extend %fill;
}

@mixin pop-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
